.azq{
	position: relative;
	width:100%;
	margin: 0 auto;
	height: auto;
	border-radius: 6px;
	background: #000
}
.azqaudio{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 100%
}
.azqimg{
	opacity: 0.8;
}
.azqimg:hover{
	opacity: 1;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}