body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;border: none;font-family: "微软雅黑";}   
ol,ul{margin:0; padding:0;list-style: none;}
img{border: none;}
a{color: #000;text-decoration: none;cursor: pointer;outline: 0;;}
a:hover{text-decoration: none;color: #000;}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
.clearfix{zoom:1;}