body{width: 100%;height: auto;background: #FFFFFF;}
.allW{width: 100%;height: auto;background: #FFFFFF;overflow: hidden;}
.headerW{width: 100%;height: 98px;overflow: hidden;}
.headerW .header{width: 960px; height: 98px;margin: 0 auto;}
.headerW .header h1{width: 181px;height: 98px;line-height: 98px;float: left;padding-top: 13px;}
.headerW .header h1 a{width: 181px;height: 72px;background: url(../images/logo.png) no-repeat;text-indent: -9999px;display: block;}
.headerW .header .nav{float: right;height: 98px;width: 779px; background: url(../images/nav-bg.jpg) no-repeat;}
.headerW .header .nav li{float: right;width: 80px; height: 20px;margin-top: 50px;text-align: center;font-size: 13px;font-weight: 600;}
.headerW .header .nav .index a{border-bottom: 2px #000000 solid;height: 18px;width:30px;display: block;margin: 0 auto;}
.headerW .header .nav .product a,
.headerW .header .nav .contact a{border-left: 1px #000000 solid;display: block;width: 80px;}
.contentW{width: 100%; height: auto;background: #f1f0f0;}
.content{width: 960px;height: auto;margin: 0 auto;overflow: hidden;}
.content .sliderW{width: 960px;height: 564px;background: #f1f0f0;padding-top: 14px;}
.content .slider{width: 960px;height: 540px;;}
/*****/
.banner-box{width:960px;height:540px;margin:20px auto;overflow:hidden;position:relative;}

.slide-box{background:#EAEAEA;height:540px;width: 620px}
.slide-item{display:none;}
.slide-item img{width:100%;}

.snap-box{position:absolute;right:0;top:0;height:100%;width:330px;background:#989898;background:rgba(0,0,0,.6);}
.snap-box li{height:135px;width:100%;cursor:pointer;vertical-align:bottom;}
.snap-box li img{float:left;width:330px;height:135px;}
.snap-box li div{font-size:12px;float:left;width:165px;}
.snap-box li .item-title{color:#fff;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;height:18px;font-size:14px;}
.snap-box li .item-intro{color:#C9D2D3;height:16px;line-height:16px;margin:4px 0 0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;_width:150px;}
.snap-box li.item-current{background:#777;}
.snap-box li.item-current .item-title{color:#88fc6e;}
/******/
.content .recommend{width: 960px; height: 490px;background: #FFFFFF;}
.content .recommend .title{width: 900px;height: 25px;padding-top: 30px;margin: 0 auto;}
.content .recommend .title h2{width: 97px;height: 25px;background: url(../images/recommend.png) no-repeat;text-indent: -9999px;float: left;}
.content .recommend .title hr{width: 715px;display: inline-block;float: left;margin-left: 30px;margin-top: 12px;}
.content .recommend .title a{display: block;float: right;width: 39px;height: 14px;background: url(../images/more.png) no-repeat;text-indent: -9999px;margin-top: 3px;}
.content .recommend .gamelist{width: 960px; height: 410px;margin: 0 auto;margin-top: 13px;}
.content .recommend .gamelist li{width: 293px; height: 195px;float: left;margin-right: 10px;margin-bottom: 15px;}
.content .recommend .gamelist .part {width: 293px; height: 40px;overflow: hidden;}
.content .recommend .gamelist .part h3{display: inline-block;font-size: 14px;font-weight: 600;color: #232323;font-family: "微软雅黑";height: 19px;width: 100px;}
.content .recommend .gamelist .part .url{font-size: 12px;color: #FFFFFF;display: inline-block;background: #2a9cd1;width: 62px; height: 18px;line-height: 18px;text-align: center;border-radius: 2px;margin-left:70px;height: 19px;margin-right: 5px;}
.content .recommend .gamelist .part .android{width: 21px; height: 19px; background: url(../images/ico.gif) no-repeat 0 0;display: inline-block;text-indent: -9999px;margin-right: 5px;}


.content .recommend .gamelist .part .ios{width: 21px; height: 19px; background: url(../images/ico.gif) no-repeat 0 -19px;display: inline-block;text-indent: -9999px;display: none;}


.content .recommend .gamelist .part span{font-size: 13px; color: #b2b2b2;border-left: 1px #b2b2b2 solid;width: 58px;text-align: left;display: block;font-family: "微软雅黑";padding-left: 10px;}
.content .lylc{width: 960px;height: 210px; margin: 0 auto;background: #FFFFFF;}
.content .lylc .title{width: 900px;height: 25px;padding-top: 10px;margin: 0 auto;}
.content .lylc .title h2{width: 98px;height: 25px;background: url(../images/lylc.png) no-repeat;text-indent: -9999px;float: left;}
.content .lylc .title hr{width: 763px;display: inline-block;float: left;margin-left: 30px;margin-top: 12px;}
.content .lylc .lyimg{width: 900px; height: 175px;margin: 0 auto;}
.content .lxwm{width: 960px; height: 145px;background: #FFFFFF;overflow: hidden;}
.content .lxwm a{display: block;float: left;margin-left: 30px;margin-top: 10px;}
.content .lxwm .title{width: 784px;height: 25px;padding-top: 10px;margin: auto 0 auto auto;display: block;float: left;}
.content .lxwm .title h2{width: 98px;height: 25px;background: url(../images/lxwm.png) no-repeat;text-indent: -9999px;float: left;}
.content .lxwm .title hr{width: 635px;display: inline-block;float: left;margin-left: 30px;margin-top: 12px;}
.content .lxwm .qq{width: 650px; height: 100px;float: left;margin-left: 140px;}
.content .lxwm .qq .L{width: 275px; height: 70px;float: left;text-align: center;}
.content .lxwm .qq .L p{line-height: 30px;text-indent: 25px;font-family: "微软雅黑";font-size: 13px;}
.content .lxwm .qq .L a{width: 262px; display: block;height: 30px;border-radius: 5px;background: #36abe1;color: #FFFFFF;font-size: 13px;font-family: "微软雅黑";line-height: 30px;text-align: center;}
.content .lxwm .qq .L a span{background: url(../images/qq.png) no-repeat left top;width: 15px;height: 16px;padding-left: 17px;margin-left: 15px;}
.content .lxwm .qq .R{width: 275px; height: 70px;float: left;text-align: center;}
.content .lxwm .qq .R p{line-height: 30px;font-family: "微软雅黑";font-size: 13px;}
.content .lxwm .qq .R a{width: 262px; display: block;height: 30px;border-radius: 5px;background: #36abe1;color: #FFFFFF;font-size: 13px;font-family: "微软雅黑";line-height: 30px;text-align: center;}
.content .lxwm .qq .R a span{background: url(../images/qq.png) no-repeat left top;width: 15px;height: 16px;padding-left: 17px;margin-left: 15px;}
.footer{width: 100%;height: 100px;background: #515151;padding-top: 30px;border-top: 5px #404040 solid;}
.footerL{width: 50%;height: 70px;float: left;color: #dbdbdb;font-family: "微软雅黑";font-size: 12px;}
.footerL .nav {line-height: 25px;}
.footerL .nav a{color: #dbdbdb;font-family: "微软雅黑";font-size: 12px;margin-right: 8px;}
.footerL p{line-height: 25px;}
.footerR{text-align: right;}



