.jk{width:960px; margin:0 auto;background: #f1f0f0;}
.jk .sq{width: 960px; height: 174px; border-bottom: 2px #000000 solid; border-top: 2px #000000 solid;color: #4c4c4c;}
.jk .sq h1{width: 73px; height: 19px; background: url(../images/shenqing.png) no-repeat;text-indent: -9999px;margin-top: 12px;margin-bottom: 9px;}
.jk .sq p{line-height: 25px;}
.jk .sq p a{color: #1da1df;text-decoration: underline;}
.jk .jieshao{width: 960px;margin-top: 25px;margin-bottom: 37px;}
.jk .jieshao h1{width: 196px; height: 25px; background: url(../images/jkjieshao.png) no-repeat; text-indent: -9999px;margin: 0 auto;margin-bottom: 15px;}
.jk .jieshao p{color: #808080}
.jk .jieshao h4{color: #4c4c4c;font-size: 15px;}
.headerW .header .nav .index a{border-bottom: none;width:70px;display: block;height: 15px;}
